flask==2.3.2
flask-socketio==5.3.4
flask-session==0.8.0
langchain==0.3.3
langchain-openai==0.2.2
langchain-community==0.3.2
langchain-core==0.3.12
chromadb==0.4.24
gTTS==2.5.3
whisper==1.1.10
beautifulsoup4
requests==2.32.3
numpy==1.24.3
torch==2.0.1
python-dotenv
pydantic==2.9.2
eventlet==0.33.3
python-socketio==5.8.0
